<!DOCTYPE html> 
<html lang="en">
  <head> 
    
</head>
<style>
    .page {
    background-color: #f7f381;
    padding: 8px 24px;
    width: 750px;
    font-size: 25px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    margin: auto;
}
ul {
    margin: 12px;
}


</style>
  <body>
    <div class="page">
        <h1>Hi, this is a site to calculate tax.<h1></h1>
        <ul>
            <li>you can calculate tax by adding the price after the URL address (localhost:8000/theLab/"The price")</li>
            <li>to get the tax rate add /taxrate</li>
        </ul>
    </div>
  </body>
 <html>

